@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Firawdawdawdadawdada Sans, Droid Sans, Helvetica Neue, sans-serif;
  cursor: none;
  overflow: hidden;
  background: white;
}

body {
  position:relative
}

a {
  text-decoration: none;
}

.blend {
  mix-blend-mode: difference;
  color: white;
}

.redtext {
  color: #FF213D;
  z-index: 50;
  mix-blend-mode:hard-light
}

* {
  box-sizing: border-box;
  cursor: none;
}

.toggler {
  position: absolute;
  background-color: black;
  top: 50px;
  right: 50px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 1000ms;
  z-index: 50;
}

.toggler.active {
  background-color: white;
  transition: 1000ms;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  right: 50px;
  width: 20px;
  height: 20px;
}

.darkmode {
  position: relative;
  transform: scale(0);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 250vw;
  height: 250vw;
  border-radius: 50%;
  background-color: #161616;
  transition: 1000ms ease-in-out;
  display: flex;
  flex: 0 0 auto;
}

.darkmode.active {
  position: relative;
  transform: scale(1);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 250vw;
  height: 250vw;
  border-radius: 50%;
  background-color: #161616;
  transition: 1000ms ease-in-out;
  display: flex;
  flex: 0 0 auto;
}

@media screen and (max-width: 600px) {
  .darkmode {
    height: 250vh;
    width: 250vh;
  }

  .darkmode.active {
    height: 250vh;
    width: 250vh;
  }
}
